[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm
[submodule "RedHammer/RedHammer/vendor/glm"]
	path = RedHammer/RedHammer/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "RedHammer/RedHammer/vendor/imgui"]
	path = RedHammer/RedHammer/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "RedHammer/RedHammer/vendor/--force"]
	path = RedHammer/RedHammer/vendor/--force
	url = https://github.com/glfw/glfw
