[submodule "ElevateEngine/vendor/rapidjson"]
	path = ElevateEngine/vendor/rapidjson
	url = https://github.com/Tencent/rapidjson
	ignore = all
[submodule "ElevateEngine/vendor/ImGuizmo"]
	path = ElevateEngine/vendor/ImGuizmo
	url = https://github.com/justinfiset/ImGuizmo
	ignore = all
[submodule "ElevateEngine/vendor/ImGui"]
	path = ElevateEngine/vendor/ImGui
	url = https://github.com/ocornut/imgui
	ignore = all
	branch = docking
[submodule "ElevateEngine/vendor/assimp"]
	path = ElevateEngine/vendor/assimp
	url = https://github.com/assimp/assimp
	ignore = all
[submodule "ElevateEngine/vendor/rapidxml"]
	path = ElevateEngine/vendor/rapidxml
	url = https://github.com/dwd/rapidxml.git
[submodule "ElevateEngine/vendor/GLFW"]
	path = ElevateEngine/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "Docs/doxygen-awesome-css"]
	path = Docs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "vendor/premake-export-compile-commands"]
	path = vendor/premake-export-compile-commands
	url = https://github.com/tarruda/premake-export-compile-commands
